---
title: خانه
cover-photo: assets/images/banner.jpg
cover-photo-alt: example cover photo
auto-header: none
icon: fa-home
order: 1
---
<header>
  <h2 class="alt">حق رونوشت اوپن‌ استریت مپ ایران</h2>
  <p>توضیحاتی دربارهٔ نحوهٔ رعایت حق رونوشت</p>
</header>

<footer>
  <a href="#خطاهای-رایج" class="button scrolly">خطاهای رایج</a>
</footer>
