<div class="container" id="items">
  {%- unless _items == null -%}
    <div class="panel-group" id="{{- _id -}}">
      {%- for _item in _items -%}
        {%- assign _title = _item.title | default: "بدون عنوان" -%}
        {%- assign _link = _title | replace: ' ', '-' -%}
        {%- assign _link = _link | replace: '(', '' -%}
        {%- assign _link = _link | replace: ')', '' -%}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#{{- _link -}}">{{- _title -}}</a>
            </h3>
          </div>
	  <div id="{{- _link -}}" class="panel-collapse collapse in" data-parent="#{{- _id -}}">
            <div class="panel-body">
              <ul>
                {%- assign _url = _item.href -%}
                {%- unless _url == null -%}
                  <li><a href="{{- _url -}}">پیوند وب</a></li>
                {%- endunless -%}
                {%- assign _android = _item.android -%}
                {%- unless _android == null -%}
                  <li><a href="{{- _android -}}">کارهٔ اندرویدی</a></li>
                {%- endunless -%}
                {%- assign _check = _item.last-check -%}
                {%- unless _check == null -%}
                  <li>تاریخ آخرین بررسی: {{- _check | jdate: "%e %b %Y" | pnumber -}}</li>
                {%- endunless -%}
                {%- assign _announced = _item.announced -%}
                {%- unless _announced == null -%}
                  <li>وضعیت اطّلاع‌رسانی: 
                    {%- if _announced -%}
                      <span class="fas fa-check-circle" style="color: green"></span>
                    {%- else -%}
                      <span class="fas fa-times-circle" style="color: red"></span>
                    {%- endif -%}
                  </li>
                {%- endunless -%}
              </ul>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endunless -%}
</div>
